@{
    ViewBag.Title = "Marketing Digital";
}

<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 w-75 mx-auto row row-cols-md-1 row-cols-lg-2 justify-content-center">
        <div class="col my-auto">
            <h1 class="pb-3">Marketing Digital</h1>
            <p class="lead">Nada mais é do que as estratégias de marketing pensadas exclusivamente para a internet e os dispositivos móveis com o objetivo de atrair mais consumidores ao negócio e as campanhas comerciais, além de, claro, divulgar a marca da empresa e torná-la mais conhecida.</p>
        </div>

        <div class="col ">
            <div class="card h-100 img-curso">
                <img src="https://i.ibb.co/xH9JT0f/15.png"
                     class="card-img-top img-curso"
                     alt="Text alternativo do curso"
                     />
            </div>
        </div>

    </div>
</div>

<div class="container text-justify pt-5">
    <h2 class="text-center py-3">Funções do marketing digital</h2>

    <p>
        Os itens abaixo trazem funções do marketing digital mais focado no setor privado, envolvendo os mais variados mercados de negócios. Quem trabalha com esportes, governos, celebridades e instituições pode encontrar algumas práticas um pouco diferentes.
    </p>
    <p>
        <h3 class="pt-3">
            Criação e otimização de sites
        </h3>
            Não são apenas as empresas de e-commerce que investem na criação e na manutenção de sites. Possuir uma presença digital fortalecida é o objetivo de outros tantos tipos de companhias que podem estar longe de vender pela internet. Tudo isso porque, já que o consumidor está na rede, a marca também precisa estar.
</p>
    <p>
        O marketing de conteúdo é uma importante estratégia utilizada para trazer relevância ao site e para manter a atenção dos futuros clientes. A prática consiste na criação de blogs com publicações periódicas que tratam de diversos assuntos, principalmente os que estão relacionados com as preferências do público-alvo da empresa.
    </p>
    <p>
        O SEO - Search Engine Optimization ou Otimização para Ferramentas de Busca - refere-se a um conjunto de técnicas com o objetivo de posicionar os sites e outras páginas ligadas à marca em buscas do Google. Quando você pesquisa certo termo no buscador, ele te confere uma série de resultados, não é mesmo? A ordem com que eles aparecem é dada por uma série de fatores, como usos de palavras-chave, velocidade de carregamento e mais de 200 outros critérios.
    </p>
    <p>
        <h3 class="pt-3">
            Redes sociais
        </h3>
            A redes sociais - exemplificadas principalmente por Facebook, Instagram e Twitter - se tornaram relevantes fontes de entretenimento e de obtenção de informação. Atualmente são canais diretos para as marcas se comunicarem com os clientes e para conquistar novos mercados. Pense consigo mesmo: você já consumiu algum produto que viu em alguma rede social?
</p>
    <p>
        Cabe ao time de marketing digital pensar nos conteúdos e nos anúncios que levem a informação até você, comunicando da melhor maneira todas as qualidades do produto ou do serviço. Além disso, a manutenção de publicações periódicas nas páginas contribuem para a construção de um relacionamento entre a marca e o cliente, o que ajuda muito a ampliar as vendas.
    </p>
    <p>
        <h3 class="pt-3">
            Criação de campanhas publicitárias
        </h3>
            Os profissionais de marketing digital são responsáveis pela criação de anúncios publicitários para as mais diversas ferramentas, como o Facebook e o Google. Os objetivos podem ser vários: venda direta de produtos, download de algum aplicativo, contratação do serviço, ou simplesmente um cadastro de pessoas interessadas. Cabe ao time estratégico da marca verificar o que melhor combina com cada momento e com cada orientação que a empresa está seguindo.
</p>
    <p>
        <h3 class="pt-3">Análise de resultados</h3>
        Uma grande vantagem do marketing digital em relação ao off-line é que ele oferece métricas mais precisas. Suponha que você colocou uma campanha no Facebook para vender um curso de informática cujo objetivo era obter cadastros de pessoas interessadas. Para isso, você estabeleceu um orçamento de mil reais. No gerenciamento da plataforma - seja ela  qual for - haverá dados sobre o número de cliques no link, cadastros e outras informações relevantes.
    </p>
    <p>
        Com a análise cuidadosa dos dados, o profissional de marketing digital consegue saber quanto cada cliente custa para a empresa. Além disso, estará incumbido de procurar maneiras para otimizar os anúncios e trazer mais interessados com o gastos menores.
    </p>

</div>
<div class="container pt-5">
    <h2 class="py-3">Veja alguns canais do YouTube que abordam esse tema</h2>
</div>

<div class="container pb-5 ">
    <!-- Siméia Avellar | Negócios Digitais  -->
    <div class="container container-text py-5">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2 ">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLFlzfZHfXxUXU2UOoFq7uh2Eja8R3G6mM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50 my-auto col mr-0 text-right">
                <h3><a href="https://www.youtube.com/c/EscoladeNeg%C3%B3ciosDigitais/featured" target="_blank">Siméia Avellar | Negócios Digitais </a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75">
                        E aqui no canal meu objetivo é te ajudar a ter resultados reais online vendendo produtos digitais que transformam a vida das pessoas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Curso em Video-->
    <div class="container container-text py-5">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2 ">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLHz_AreHm4dmmqFmLT17KMjoaE0Y4LqRv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50 my-auto col mr-0 text-right">
                <h3><a href="https://www.youtube.com/c/CursoemV%C3%ADdeo" target="_blank">Curso em Video</a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75">Aprenda os fundamentos do Marketing e conheça dicas, ferramentas e termos técnicos do Marketing Digital, nesse curso que faz parte do Curso Grátis de Marketing Digital do Curso em Vídeo.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- GoDaddy Brasil -->
    <div class="container container-text py-5">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2 ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLr21wMIyqB97XCSc5Rt_CiGndncs4VOEN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50 my-auto col mr-0 text-right">
                <h3><a href="https://www.youtube.com/c/GoDaddyBrasil/featured" target="_blank">GoDaddy Brasil</a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75">Neste guia sobre marketing digital para iniciantes, você vai aprender o que é marketing digital e suas principais estratégias. Além disso, vamos mostrar as principais métricas de marketing, como implementá-lo em seu negócio e como a GoDaddy pode te ajudar!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Joba -->
    <div class="container container-text py-5 ">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLDolWZnVdBr1gR-ZLKFenvOzb9LGmpaA6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50 my-auto col mr-0 text-right">
                <h3><a href="https://www.youtube.com/c/Jobair" target="_blank">Joba</a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75 ">
                        Opa, aqui é o Joba!
                        Eu sou empreendedor digital, vivo exclusivamente dos meus negócios na internet desde 2015, trabalho de casa (ou de onde quiser) e neste canal vou te ensinar todas as estratégias que usei para criar meu negócio online e ganhar dinheiro na internet de forma honesta!
                        Instagram: @@joba.ir
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


