@{
    ViewBag.Title = "Git e GitHub";
}

<!-- Git e GitHub -->
<div class="jumbotron jumbotron-fluid  text-center">
    <div class="container py-5 w-75 mx-auto row row-cols-md-1 row-cols-lg-2 justify-content-center">
        <div class="col-sm-12 col-md-6 my-auto">
            <h1 class="pb-3">Git e GitHub</h1>
            <p class="lead">O GIT é um Sistema de Controle de Versões Distribuído</p>
            <p class="lead">O GitHub, é uma espécie de rede social voltada a profissionais de TI cuja tecnologia que o sustenta é o GIT.</p>
        </div>

        <div class="col-sm-12 col-md-6 my-auto">
            <div class="">
                <img src="http://www.ratamero.com/assets/cover-git-1-3f45d1fa.png"
                     class="card-img-top"
                     alt="Text alternativo do curso" />
            </div>
        </div>

    </div>
</div>

<!-- Oque e Git e GitHub  --> 
<div class="container my-5 text-center">
    <div class="row">
        <div class="col-sm-12 col-md-6 my-auto">
            <h3 class="secondary-color h1 mb-3">
                GIT
            </h3>
            <p>
                Este sistema de controle possue a função de registrar quaisquer alterações feitas em cima de um código, armazenando essas informações e permitindo que, caso seja necessário, um(a) programador(a) possa regredir a versões anteriores de uma aplicação de modo simples e rápido.
            </p>
        </div>

        <div class="col-sm-12 col-md-6 my-auto">
            <h3 class="secondary-color h1 mb-3">
                GITHUB
            </h3>
            <p>
                É uma plataforma totalmente online onde você pode criar repositórios e hospedar neles seus projetos, colaborar com softwares open source, seguir outros(as) programadores(as) e interagir com códigos de terceiros.
            </p>
        </div>

    </div>
</div>

<!-- Curso -->
<div class="container my-5 text-center">
    <div class="container container-text">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2 ">
            <iframe class="my-auto col-lg-8 col-md-8 col-sm-12" width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLhkO7OMKgT_rqwGYldqcFxyN4yjFgmDh8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="my-3 col-lg-4 col-md-4 col-sm-12">
                <h3><a href="https://www.youtube.com/c/rafaellaballerini" target="_blank">Rafaella Ballerini</a></h3>
                <p>Curso explicando a definição de Git e Github e os principais conceitos utilizados na ferramenta! É algo muito necessário na vida de um desenvolvedor ou desenvolvedora.</p>
                <ul>
                    <li><a class="links" href="#git">GIT</a></li>
                    <li><a class="links" href="#github">GITHUB</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- git -->
<div class="container my-5 text-center" id="git">
    <div class="row">
        <div class="col-sm-12 col-md-6 my-auto">
            <h3 class="secondary-color h1 mb-3">
                GIT
            </h3>
            <p>
                De longe, o sistema de controle de versão moderno mais usado no mundo hoje é o Git. O Git é um projeto de código aberto maduro e com manutenção ativa desenvolvido em 2005 por Linus Torvalds, o famoso criador do kernel do sistema operacional Linux.
            </p>
        </div>

        <div class="col-sm-12 col-md-6 my-auto">
            <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png"
                 class="img-fluid logo-curso my-3"
                 alt="" />
        </div>
    </div>
</div>


<!-- GITHUB -->
<div class="container my-5 text-center" id="github">
    <div class="row">
        <div class="col-sm-12 col-md-6 my-auto">
            <h3 class="secondary-color h1 mb-3">
                GITHUB
            </h3>
            <p>
                GitHub é amplamente utilizado por programadores para divulgação de seus trabalhos ou para que outros programadores contribuam com o projeto, além de promover fácil comunicação através de recursos que relatam problemas ou mesclam repositórios remotos.
            </p>
        </div>

        <div class="col-sm-12 col-md-6 my-auto">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                 class="img-fluid logo-curso my-3"
                 alt="" />
        </div>
    </div>
</div>



