@{
    ViewBag.Title = "Marketing Digital";
}

<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 w-75 mx-auto row row-cols-md-1 row-cols-lg-2 justify-content-center">
        <div class="col my-auto  ">
            <h1 class="pb-3">Marketing Digital</h1>
            <p class="lead">Aprenda os fundamentos do Marketing e conheça dicas, ferramentas e termos técnicos do Marketing Digital, nesse curso que faz parte do Curso Grátis de Marketing Digital do Curso em Vídeo. </p>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="~/social.svg"
                     class="card-img-top"
                     alt="Text alternativo do curso"
                     />
            </div>
        </div>

    </div>
</div>

<div class="container-fluid py-5">
    <h2 class="text-center py-3">Marketing Digital</h2>
    <p class="text-center">Texto explicando o que é marketing</p>
</div>

<div class="container pt-5 ">
    <!-- Curso em Video -->
    <div class="container container-text">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2 ">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLHz_AreHm4dmmqFmLT17KMjoaE0Y4LqRv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50  my-auto col">
                <h3><a href="https://www.youtube.com/c/CursoemV%C3%ADdeo" target="_blank">Curso em Video</a></h3>
                <p class="w-75 pl-5">Aprenda os fundamentos do Marketing e conheça dicas, ferramentas e termos técnicos do Marketing Digital, nesse curso que faz parte do Curso Grátis de Marketing Digital do Curso em Vídeo.</p>
            </div>
        </div>
    </div>
    <!-- Joba -->
    <div class="container container-text py-5 ">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLDolWZnVdBr1gR-ZLKFenvOzb9LGmpaA6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            <div class="w-50 my-auto texto-l col mr-0 text-right ">
                <h3><a href="https://www.youtube.com/c/Jobair" target="_blank">Joba</a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75 ">
                        Opa, aqui é o Joba!
                        Eu sou empreendedor digital, vivo exclusivamente dos meus negócios na internet desde 2015, trabalho de casa (ou de onde quiser) e neste canal vou te ensinar todas as estratégias que usei para criar meu negócio online e ganhar dinheiro na internet de forma honesta!
                        Instagram: @@joba.ir
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Guias Design -->
    <div class="container container-text col pb-5">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLYlX81vP10lrfLe-7z0RiCMzaHUUVfaNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50  my-auto texto col">
                <h3><a href="https://www.youtube.com/c/GuiasDesign/featured" target="_blank">Guias Design</a></h3>
                <p class="w-75">
                    Acreditamos que o conhecimento muda tudo. Por isso, nós oferecemos cursos profissionais e de qualidade, totalmente grátis. O conhecimento muda tudo, e é para todos.
                </p>
            </div>
        </div>
    </div>
</div>


