@{
    ViewBag.Title = "Social Media";
}

<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 w-75 mx-auto row row-cols-md-1 row-cols-lg-2 justify-content-center">
        <div class="col my-auto  ">
            <h1 class="pb-3">Social Medial</h1>
            <p class="lead">Por ser uma profissão nova no mercado, e por mais que esteja em evidência, muitas pessoas ainda não sabem qual o trabalho de um social media, ou possuem ideias equivocadas sobre o assunto.</p>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="~/social.svg"
                     class="card-img-top"
                     alt="Text alternativo do curso"
                     />
            </div>
        </div>

    </div>
</div>

<div class="container py-5">
    <h2 class="py-3"> O que faz um Social media?</h2>

    <p>
        O social media é o profissional responsável pela gestão, atualização e geração de conteúdo e tráfego para as redes sociais de empresas, marcas ou personalidades em seus perfis online.
    </p>
    <p>
        Em um mundo cada vez mais conectado e em que a interatividade está ao alcance de um clique, as empresas têm cada vaz mais concentrado o foco de suas atividades em redes sociais, tais como Facebook, Instagram e Twitter.
    </p>
    <p>
        De olho no crescimento dessa possibilidade, a área para o profissional de social media tem crescido. A cada dia são descobertas novas informações estratégicas que permitem que esse especialista ajude no crescimento da empresa e no engajamento da marca.
    </p>
    <p>
        O social media planeja o tipo de conteúdo a ser veiculado, tais como posts, gifs, sorteios, interações, imagens, anúncios e vídeos, escolhendo qual a melhor forma de alcançar o maior número possível de interessados pela marca.
    </p>
    <p>
        Cabe a esse profissional também interagir com possíveis clientes ou quaisquer usuários que venham a interagir com a marca ou a empresa, bem como zelar pela sua imagem positiva. Solucionar crises relacionadas à imagem e responder críticas e questionamentos também são algumas das atribuições do social media.
    </p>
</div>

<div class="container pt-5 ">

    <!-- Rejane Toigo -->
    <div class="container container-text py-5 ">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLpmBkyWiIBnvGn4i7ahLmOpjUUi65SFiO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50 my-auto texto-l col mr-0 text-right ">
                <h3><a href="https://www.youtube.com/user/rejanertoigo/featured" target="_blank">Rejane Toigo</a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75 ">
                        Tudo que você precisa saber para se tornar um social media endinheirado.
                    <br />
                        Nessa playlist você encontrará varias dias para entra na area de social media.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Thiago Abreu -->
    <div class="container container-text py-5 ">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PL65y53QdjAfF7-FWKOF07Xhj-y3I5tQBH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50 my-auto texto-l col mr-0 text-right ">
                <h3><a href="https://www.youtube.com/c/ThiagoAbreuON" target="_blank">Thiago Abreu</a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75 ">
                        Design gráfico aplicado com GIMP e Inkscape. Vamos aprender juntos a usar esses softwares no nosso dia a dia de produção?
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Curso em Video -->
    <div class="container container-text py-5 ">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLHz_AreHm4dlkAQ8ZBGOXJTkaFewVoZW0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50 my-auto texto-l col mr-0 text-right ">
                <h3><a href="https://www.youtube.com/c/CursoemV%C3%ADdeo" target="_blank">Curso em Video</a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75 ">
                        Curso grátis de como anunciar e divulgar seus produtos ou serviços pela internet. Vamos usar várias formas de divulgação, incluindo Google Ads e Facebook Ads
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Guias Design -->
    <div class="container container-text py-5 ">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLYlX81vP10lrfLe-7z0RiCMzaHUUVfaNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50 my-auto texto-l col mr-0 text-right ">
                <h3><a href="https://www.youtube.com/c/GuiasDesign/featured" target="_blank">Guias Design</a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75 ">
                        Acreditamos que o conhecimento muda tudo. Por isso, nós oferecemos cursos profissionais e de qualidade, totalmente grátis. O conhecimento muda tudo, e é para todos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

   


