@{ ViewBag.Title = "Pixel Art"; }


<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 w-75 mx-auto row row-cols-md-1 row-cols-lg-2 justify-content-center">
        <div class="col my-auto  ">
            <h1 class="pb-3">Pixel Art</h1>
            <p class="lead">
                Aprenda os fundamentos da pixel art e conheça dicas, ferramentas e termos técnicos da criação de arts 2d pixeladas.
            </p>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="~/games.svg"
                     class="card-img-top"
                     alt="Text alternativo do curso" />
            </div>
        </div>

    </div>
</div>
<div class="container-fluid py-5 w-75">
    <h2 class="text-center py-3">Pixel Art</h2>
    <p class="text-center">
        A pixel art surgiu como uma limitação de hardware dos antigos videogames,
    </p>
    <p class="text-center">
        que precisavam simplificar seus gráficos para que os jogos pudessem caber nos cartuchos.
    </p>
    <p class="text-center">
        Porém, apesar de sua simplicidade,

    </p>
    <p class="text-center">
        ela caiu no gosto do público e vive até hoje como um estilo artístico.
    </p>

</div>


<div class="container pt-5 ">
    <!-- Nextindie Academy-->
    <div class="container container-text col pb-5">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLXiMbAkZF_Bnfek4nfHAxB8C6ey6roq-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50  my-auto texto col">
                <h3><a href="https://www.youtube.com/channel/UCk90r0sWVq-gjznv4vr_3Eg" target="_blank">Nextindie Academy</a></h3>
                <p class="w-75">
                    vamos entender o que é o pixel art, quais são os tipos de arte para jogos 2D e ainda vamos conferir alguns exemplos de jogos indie atuais que usam esse estilo de arte.
                </p>
            </div>
        </div>
    </div>

    <!-- Vivendo de Pixel -->
    <div class="container container-text py-5 ">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/oU-MAPQHsEM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50 my-auto texto-l col mr-0 text-right ">
                <h3><a href="https://www.youtube.com/channel/UCco4h0drHm_OjtpCq9HP-pg" target="_blank">Vivendo de Pixel</a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75 ">
                        Certeza que você já ouviu falar um milhão de vezes a palavra "Pixel Art", mas será que você sabe o que ela significa? E de onde ela veio? Então chega mais nessa viagem pela história da Pixel Art.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Crie Seus Jogos -->
    <div class="container container-text col pb-5">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/3G8jpTduUlU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50  my-auto texto col">
                <h3><a href="https://www.youtube.com/c/CrieSeusJogos" target="_blank">Crie Seus Jogos</a></h3>
                <p class="w-75">
                    Aqui esta algumas dicas para melhorar sua pixel art.
                </p>
            </div>
        </div>
    </div>
</div>




       





