@{ ViewBag.Title = "Introdução a games"; }


<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 w-75 mx-auto row row-cols-md-1 row-cols-lg-2 justify-content-center">
        <div class="col my-auto  ">
            <h1 class="pb-3">Introdução a games</h1>
            <p class="lead">Aprenda os fundamentos dos games e conheça dicas, ferramentas e termos técnicos da criação de games. </p>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="~/games.svg"
                     class="card-img-top"
                     alt="Text alternativo do curso" />
            </div>
        </div>

    </div>
</div>
<div class="container-fluid py-5 w-75">
    <h2 class="text-center py-3">Introdução a games</h2>
    <p class="text-center">
        Presente em nossas vidas há pouco mais de trinta anos,
    </p>
    <p class="text-center">
        os jogos eletrônicos carregam uma história rica em inovações tecnológicas,
    </p>
    <p class="text-center">
        que criaram um impacto sem precedentes na cultura das sociedades em um nível global.

    </p>
    <p class="text-center">
        A indústria de games ainda é jovem e se encontra em um ritmo de expansão impressionante,
    </p>
    <p class="text-center">
        com tendência a resistir a grandes crises econômicas,
    </p>
    <p class="text-center">
        gerando oportunidade para novas ideias,
    </p>
    <p class="text-center">
        novas formas de jogar e a necessidade de novos talentos para a indústria.
    </p>
</div>


<div class="container pt-5 ">
    <!-- Attekita Dev -->
    <div class="container container-text col pb-5">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLprgbdnzrDkH4AP7Qv-xKMvuGCMT54y8O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50  my-auto texto col">
                <h3><a href="https://www.youtube.com/c/CursoemV%C3%ADdeo" target="_blank">Attekita Dev</a></h3>
                <p class="w-75">
                    Aprenda como fazer um game runner e criar seu primeiro game na Unity com esse projeto .
                    Nesse curso rápido vamos aprender alguns conceitos básicos de desenvolvimento de games e além de trabalhar com a Unity. Essa é uma série de vídeos aonde vamos codar juntos e aprender muito.
                </p>
            </div>
        </div>
    </div>

    <!-- Attekita Dev -->
    <div class="container container-text py-5 ">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLprgbdnzrDkHpoQAEKqkSyKzIbnyDhjJ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50 my-auto texto-l col mr-0 text-right ">
                <h3><a href="https://www.youtube.com/c/CursoemV%C3%ADdeo" target="_blank">Attekita Dev</a></h3>
                <div class="d-flex justify-content-end">
                    <p class="w-75 ">
                        O mercado de desenvolvimento de games esta crescendo mundialmente e não é diferente no Brasil. Cada vez mais pessoas estão fazendo essa escolha de carreira.

                        Nesse vídeo dou algumas dicas para quem esta pensando em ingressar nessa carreira de game dev e falo sobre nosso panorama atual do mercado nacional. Conselhos que gostaria de passar pra vocês e aprendi durante esses 5 anos trabalhando com a Funbites Game Studio.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Crie Seus Jogos -->
    <div class="container container-text col pb-5">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLW-9djkTMdfVNJD9aEnoOzkrU8dUoD7j4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50  my-auto texto col">
                <h3><a href="https://www.youtube.com/c/CrieSeusJogos" target="_blank">Crie Seus Jogos</a></h3>
                <p class="w-75">
                    Acreditamos que o conhecimento muda tudo. Por isso, nós oferecemos cursos profissionais e de qualidade, totalmente grátis. O conhecimento muda tudo, e é para todos.
                </p>
            </div>
        </div>
    </div>
</div>


        











