*{
    list-style:none;
}
.container-fluid{
    padding-right: 0; 
    padding-left: 0; 
}

a {
    color: #fff;
}

a:hover {
    color: #C60DE2;
    text-decoration: none;
}

body {    
    padding-bottom: 20px;
    background: linear-gradient(180deg, #181819 67.71%, #331859 82.11%);
    color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {   
    min-height:800px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.bg-nav{
    background: linear-gradient(87.4deg, #C60DE2 -54.2%, rgba(51, 24, 89, 0.14) 100%);

}

.jumbotron-fluid {
    background: linear-gradient(180deg, rgba(198, 13, 226, 0.58) 0%, rgba(242, 148, 209, 0) 94.27%);
    padding:0 !important;
}


.video video {
    width:500px;
    border: 1px solid #C60DE2;
    border-radius: 0.5rem;
}

@media(max-width:575px){
    video{
        width:300px !important;        
    }
}

.text-primary {
    color: #331859 !important;
}

.btn-outline-success {
    color: white;
    border-color: #C60DE2;
}
.form-control {
    border: 1px solid #C60DE2;
}

footer {
}

