@{
    ViewBag.Title = "Sobre";
}



<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 mx-auto row row-cols-md-1 row-cols-lg-5 justify-content-center">
        <div class="text-center col my-auto  ">
            <h1 class="pb-3">ATHENA</h1>
            <p class="lead">O programa Athena visa ajudar menias de 11 a 17 anos de situaçoes de vunerábilidade apresendado à elas o mundo da tecnologia</p>
        </div>

        <div class="video col">
            <video autoplay muted loop>
                <source src="~/sobreAthena.mp4" type="video/mp4" />
                <source src="#.webm" type="video/webm" />
                <source src="#.ogv" type="video/ogg" />
            </video>
        </div>

    </div>
</div>

<div class="container text-white">
    <h2 class="h1 text-center fw-bold my-5">Sobre Athena</h2>
    <p align="Center">
        Lorem ipsum amet elit vestibulum rutrum platea per maecenas accumsan
        praesent, netus ultrices fermentum eleifend rutrum lorem nec accumsan
        aliquet, molestie ante blandit ligula velit primis ultricies magna
        habitant. placerat tristique dictumst odio vitae sagittis risus
        ultricies platea, conubia tempor morbi molestie blandit porttitor
        dictumst pretium tortor, dolor morbi lectus phasellus mollis nibh
        bibendum. porttitor magna libero cras varius ultrices iaculis ante
        torquent, velit erat ornare sodales mi elit rutrum, pharetra ligula
        auctor enim semper rhoncus malesuada. nullam orci cras feugiat semper
        cubilia donec senectus posuere tortor, dui rutrum nulla commodo pharetra
        arcu donec conubia tortor ultricies, conubia interdum pharetra porttitor
        gravida placerat curabitur luctus.
    </p>
    <p align="Center">
        Lorem ipsum amet elit vestibulum rutrum platea per maecenas accumsan
        praesent, netus ultrices fermentum eleifend rutrum lorem nec accumsan
        aliquet, molestie ante blandit ligula velit primis ultricies magna
        habitant. placerat tristique dictumst odio vitae sagittis risus
        ultricies platea, conubia tempor morbi molestie blandit porttitor
        dictumst pretium tortor, dolor morbi lectus phasellus mollis nibh
        bibendum. porttitor magna libero cras varius ultrices iaculis ante
        torquent, velit erat ornare sodales mi elit rutrum, pharetra ligula
        auctor enim semper rhoncus malesuada. nullam orci cras feugiat semper
        cubilia donec senectus posuere tortor, dui rutrum nulla commodo pharetra
        arcu donec conubia tortor ultricies, conubia interdum pharetra porttitor
        gravida placerat curabitur luctus.
    </p>
    <p align="Center">
        Lorem ipsum amet elit vestibulum rutrum platea per maecenas accumsan
        praesent, netus ultrices fermentum eleifend rutrum lorem nec accumsan
        aliquet, molestie ante blandit ligula velit primis ultricies magna
        habitant. placerat tristique dictumst odio vitae sagittis risus
        ultricies platea, conubia tempor morbi molestie blandit porttitor
        dictumst pretium tortor, dolor morbi lectus phasellus mollis nibh
        bibendum. porttitor magna libero cras varius ultrices iaculis ante
        torquent, velit erat ornare sodales mi elit rutrum, pharetra ligula
        auctor enim semper rhoncus malesuada. nullam orci cras feugiat semper
        cubilia donec senectus posuere tortor, dui rutrum nulla commodo pharetra
        arcu donec conubia tortor ultricies, conubia interdum pharetra porttitor
        gravida placerat curabitur luctus.
    </p>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>

    <p align="Center">
        Lorem ipsum amet elit vestibulum rutrum platea per maecenas accumsan
        praesent, netus ultrices fermentum eleifend rutrum lorem nec accumsan
        aliquet, molestie ante blandit ligula velit primis ultricies magna
        habitant. placerat tristique dictumst odio vitae sagittis risus
        ultricies platea, conubia tempor morbi molestie blandit porttitor
        dictumst pretium tortor, dolor morbi lectus phasellus mollis nibh
        bibendum. porttitor magna libero cras varius ultrices iaculis ante
        torquent, velit erat ornare sodales mi elit rutrum, pharetra ligula
        auctor enim semper rhoncus malesuada. nullam orci cras feugiat semper
        cubilia donec senectus posuere tortor, dui rutrum nulla commodo pharetra
        arcu donec conubia tortor ultricies, conubia interdum pharetra porttitor
        gravida placerat curabitur luctus.
    </p>
    <p align="Center">
        Lorem ipsum amet elit vestibulum rutrum platea per maecenas accumsan
        praesent, netus ultrices fermentum eleifend rutrum lorem nec accumsan
        aliquet, molestie ante blandit ligula velit primis ultricies magna
        habitant. placerat tristique dictumst odio vitae sagittis risus
        ultricies platea, conubia tempor morbi molestie blandit porttitor
        dictumst pretium tortor, dolor morbi lectus phasellus mollis nibh
        bibendum. porttitor magna libero cras varius ultrices iaculis ante
        torquent, velit erat ornare sodales mi elit rutrum, pharetra ligula
        auctor enim semper rhoncus malesuada. nullam orci cras feugiat semper
        cubilia donec senectus posuere tortor, dui rutrum nulla commodo pharetra
        arcu donec conubia tortor ultricies, conubia interdum pharetra porttitor
        gravida placerat curabitur luctus.
    </p>
</div>

<div class="container text-white text-justify pt-5 ">
    <!-- missao -->
    <div class="container">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2 ">
            <div class="w-50 p-5 my-auto text col">
                <h2>Missão</h2>
                <p>
                    Lorem ipsum amet elit vestibulum rutrum platea per maecenas
                    accumsan praesent, netus ultrices fermentum eleifend rutrum lorem
                    nec accumsan aliquet, molestie ante blandit ligula velit primis
                    ultricies magna habitant.
                </p>
            </div>
            <div class="linear"></div>
        </div>
    </div>
    <!-- visao -->
    <div class="container ">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <div class="linear"></div>
            <div class="w-50 p-5 my-auto text-right text col">
                <h2>Visão</h2>
                <p>
                    Lorem ipsum amet elit vestibulum rutrum platea per maecenas
                    accumsan praesent, netus ultrices fermentum eleifend rutrum lorem
                    nec accumsan aliquet, molestie ante blandit ligula velit primis
                    ultricies magna habitant.
                </p>
            </div>
        </div>
    </div>
    <!-- valor -->
    <div class="container col pb-5">
        <div class="d-flex  row row-cols-sm-1 row-cols-md-2">
            <div class="w-50 p-5 my-auto text col">
                <h2>Valor</h2>
                <p>
                    Lorem ipsum amet elit vestibulum rutrum platea per maecenas
                    accumsan praesent, netus ultrices fermentum eleifend rutrum lorem
                    nec accumsan aliquet, molestie ante blandit ligula velit primis
                    ultricies magna habitant.
                </p>
            </div>
            <div class="linear" style=" "></div>
        </div>
    </div>
</div>