@{
    ViewBag.Title = "Contato";
}

<div class="container bg-contato  my-5"  id="contato">
    <h2 class="text-white display-6 text-center fw-bold my-5">
        Entre em contato
    </h2>
    <div>
        <form action="https://formsubmit.co/douglassilvadaprado@gmail.com" method="POST">
            <div class="form-group w-75 mx-auto">
                <input type="text"
                       class="form-control my-3"
                       placeholder="Digite seu nome"
                       required="" />
                <input type="text"
                       class="form-control my-3"
                       placeholder="Digite seu Email"
                       required="" />

                <textarea style="resize: none" placeholder="Digite sua Mensagem" rows="15" cols="50" name="message" required="" class="form-control my-3"></textarea>
                <input type="hidden" name="_ captcha" value="false">
                <input type="hidden" name="_ autoresponse" value="Mensagem enviada!">
                <input type="hidden" name="_ next" value="index.html">
                <div class=" d-flex justify-content-end">
                    <button class="btn btn-outline-success form-control w-25 my-3 ">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
     