@{
    ViewBag.Title = "Curso";
}

<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 w-75 mx-auto row row-cols-md-1 row-cols-lg-2 justify-content-center">
        <div class="col my-auto  ">
            <h1 class="pb-3">Marketing Digital</h1>
            <p class="lead">Aprenda os fundamentos do Marketing e conheça dicas, ferramentas e termos técnicos do Marketing Digital, nesse curso que faz parte do Curso Grátis de Marketing Digital do Curso em Vídeo. </p>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="~/social.svg"
                     class="card-img-top"
                     alt="Text alternativo do curso"
                     />
            </div>
        </div>

    </div>
</div>

<div class="container-fluid py-5">
    <h2 class="text-center py-3">Marketing Digital</h2>
    <p class="text-center">Texto explicando o que é marketing</p>
</div>

<div class="container pt-5 ">
    <!-- missao -->
    <div class="container container-text">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2 ">
            <iframe width="660" height="470" src="https://www.youtube.com/embed/videoseries?list=PLHz_AreHm4dmmqFmLT17KMjoaE0Y4LqRv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="w-50  my-auto col">
                <h3><a href="https://www.youtube.com/c/CursoemV%C3%ADdeo" target="_blank">Curso em Video</a></h3>                
                <p class="w-75" > Recomendações ............</p>
            </div>
        </div>
    </div>
    <!-- visao -->
    <div class="container container-text py-5 ">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <div class="visao"></div>
            <div class="w-50 my-auto texto-l col mr-0 text-right ">
                <h2>Visão</h2>
                <div class="d-flex justify-content-end">
                    <p class="w-75 ">
                        Aumentar o número de mulheres na área da tecnologia.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- valor -->
    <div class="container container-text col pb-5">
        <div class="d-flex row row-cols-sm-1 row-cols-md-2">
            <div class="w-50  my-auto texto col">
                <h2>Valores</h2>
                <p class="w-75">
                    Iguadade de genero, inclusão social, valorizar pessoas, produzir sorrisos, elevar a autoestima com responsabilidad  e empreendedorismo responsável .
                </p>
            </div>
            <div class="valor"></div>
        </div>
    </div>
</div>


