@{
    ViewBag.Title = "Cursos";
}

<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 mx-auto row row-cols-md-1 row-cols-lg-5 justify-content-center">
        <div class="text-center col my-auto  ">
            <h1 class="pb-3">ATHENA</h1>
            <p class="lead">O programa Athena visa ajudar menias de 11 a 17 anos de situaçoes de vunerábilidade apresendado à elas o mundo da tecnologia</p>
        </div>

        <div class="video col">
            <video autoplay muted loop>
                <source src="~/destaqueCursos.mp4" type="video/mp4" />
                <source src="#.webm" type="video/webm" />
                <source src="#.ogv" type="video/ogg" />
            </video>
        </div>

    </div>
</div>

<div class="container ">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/logica.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h2 class="card-title">Introdução a logica de programação </h2>

                </div>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/social.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h2 class="card-title">Social media</h2>

                </div>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/games.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h2 class="card-title">Introdução a games</h2>

                </div>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/logica.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h2 class="card-title">Introdução a logica de programação </h2>

                </div>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/social.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h2 class="card-title">Social media</h2>

                </div>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/games.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h2 class="card-title">Introdução a games</h2>

                </div>
            </div>
        </div>
    </div>
</div>


