@{
    ViewBag.Title = "Cursos";
}

<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 w-75 mx-auto row row-cols-md-1 row-cols-lg-2 justify-content-center">
        <div class="col my-auto">
            <h1 class="pb-3">ATHENA</h1>
            <p class="lead">Faça seu caminho, <br /> conheça um novo mundo</p>
        </div>

        <div class="col">            
            <img class="juboteom-video" src="https://i.ibb.co/4JW5BVY/destaque-Cursos.gif" />          
        </div>

    </div>
</div>

<div class="container w-75 mx-auto">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoLogicaProgramacao">
                    <img src="~/logica.svg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Introdução a logica de programação </h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoSocialMedia">
                    <img src="~/social.svg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Social media</h3>

                    </div>
                </a>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoGames">
                    <img src="~/games.svg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Introdução a games</h3>

                    </div>
                </a>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoGitEGitHub">
                    <img src="https://i.ibb.co/k16W3Dt/18.png"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Introdução a Git e Github </h3>

                    </div>
                </a>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoMarketingDigital">
                    <img src="https://i.ibb.co/xH9JT0f/15.png"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Curso Marketing Digital</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoPixelArt">
                    <img src="https://i.ibb.co/X3JrzgV/19.png"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Pixel Art</h3>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
