@{
    ViewBag.Title = "Cursos";
}

<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 w-75 mx-auto row row-cols-md-1 row-cols-lg-2 justify-content-center">
        <div class="col my-auto  ">
            <h1 class="pb-3">ATHENA</h1>
            <p class="lead">Faça seu caminho, <br /> conheça um novo mundo</p>
        </div>

        <div class="video col">
            <video autoplay muted loop>
                <source src="~/destaqueCursos.mp4" type="video/mp4" />
                <source src="#.webm" type="video/webm" />
                <source src="#.ogv" type="video/ogg" />
            </video>
        </div>

    </div>
</div>

<div class="container w-75 mx-auto">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoLogicaProgramacao">
                    <img src="~/logica.svg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Introdução a logica de programação </h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoSocialMedia">
                    <img src="~/social.svg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Social media</h3>

                    </div>
                </a>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/games.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h3 class="card-title">Introdução a games</h3>

                </div>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/logica.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h3 class="card-title">Introdução a logica de programação </h3>

                </div>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoMarketingDigital">
                    <img src="~/social.svg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Curso Marketing Digital</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/games.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h3 class="card-title">Introdução a games</h3>

                </div>
            </div>
        </div>
    </div>
</div>
