@{
    ViewBag.Title = "Home Page";
}



@if (TempData["Mensagem"] != null)
{
    <script>alert(" @TempData["Mensagem"]");</script>
}


<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 mx-auto row row-cols-md-1 row-cols-lg-3 justify-content-center">
        <div class=" col my-auto  ">
            <h1 class="pb-3">ATHENA</h1>
            <p class="lead">O programa Athena visa ajudar menias de 11 a 17 anos de situaçoes de vunerábilidade apresendado à elas o mundo da tecnologia</p>
        </div>

        <div class="video col">
            <video autoplay muted loop>
                <source src="~/indexAthena.mp4" type="video/mp4" />
                <source src="#.webm" type="video/webm" />
                <source src="#.ogv" type="video/ogg" />
            </video>
        </div>

    </div>
</div>

<div class="container ">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/logica.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h2 class="card-title">Introdução a logica de programação </h2>

                </div>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/social.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h2 class="card-title">Social media</h2>

                </div>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <img src="~/games.svg"
                     class="card-img-top"
                     alt="..." />
                <div class="card-body text-primary">
                    <h2 class="card-title">Introdução a games</h2>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex align-items-center justify-content-around mt-5">

    <div class="tracer"></div>
    <h2 class="p-5">Parceiros</h2>
    <div class="tracer"></div>


</div>

<div class="container my-5 ">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col pb-5">
            <div class="card h-100 " style="background:none; border:none">
                <img src="~/lg_parceiro1.svg" 
                     class="card-img-top"
                     alt="..." />

            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 " style="background:none; border:none">
                <img src="~/lg_parceiro2.svg"
                     class="card-img-top"
                     alt="..." />

            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 " style="background:none; border:none">
                <img src="~/lg_parceiro3.svg"
                     class="card-img-top"
                     alt="..." />
                
            </div>
        </div>
    </div>
</div>
<!--
<div class="card h-100" style="border: none">
            <img
              src="Ellipse 1.png"
              class="card-img-top"
              alt="..."
              style="border-radius: 50%; background-image: cover"
            />
            <div class="card-body">
              <h2 class="card-title text-center">Tóquio</h2>
            </div>
-->
