@{
    ViewBag.Title = "Home Page";
}



@if (TempData["Mensagem"] != null)
{
    <script>alert(" @TempData["Mensagem"]");</script>
}


<div class="jumbotron jumbotron-fluid  ">
    <div class="container py-5 w-75 mx-auto row row-cols-1 row-cols-md-1 row-cols-lg-2 justify-content-center">
        <div class=" col my-auto  ">
            <h1 class="pb-3">ATHENA</h1>
            <p class="lead">O programa Athena visa ajudar meninas de 11 a 17 anos em situação de vunerábilidade apresentando a elas o mundo da tecnologia</p>
        </div>

        <div class="col">
            <img class="juboteom-video" src="https://i.ibb.co/ZKkfssp/index-Athena.gif" />
        </div>

    </div>
</div>

<div class="container w-75 mx-auto">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoLogicaProgramacao">
                    <img src="~/logica.svg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Introdução a logica de programação </h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoSocialMedia">
                    <img src="~/social.svg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Social media</h3>

                    </div>
                </a>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 ">
                <a href="~/Cursos/CursoGames">
                    <img src="~/games.svg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body text-primary">
                        <h3 class="card-title">Introdução a games</h3>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex align-items-center justify-content-around mt-5">

    <div class="tracer"></div>
    <h2 class="p-5">Apoiadores</h2>
    <div class="tracer"></div>


</div>

<div class="container my-5 w-50">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col pb-5">
            <div class="card h-100 " style="background:none; border:none">
                <img src="~/lg_parceiro1.svg" 
                     class="card-img-top"
                     alt="..." />

            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 " style="background:none; border:none">
                <img src="~/lg_parceiro2.svg"
                     class="card-img-top"
                     alt="..." />

            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100 " style="background:none; border:none">
                <img src="~/lg_parceiro3.svg"
                     class="card-img-top"
                     alt="..." />
                
            </div>
        </div>
    </div>
</div>

